<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Content</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<header>
		<h1 class="logo">My Favorite Web Content</h1>
	</header>
	<main>
		<ul>
			{% for column in columns %}
				<li>
					<a href="{{ column.link }}">{{ column.title }}</a>
					<div class="author"><em> by {{ column.columnist }}</em></div>
				</li>
			{% endfor %}
		</ul>
		<div class="pages">
			<ul>
				{% if pagination.has_prev %}
				<li>
					<a href="{{url_for('.main', page=pagination.prev_num)}}">{{pagination.prev_num}}</a>
				</li>
				{% endif %}
				<li class="currentpage">
					<a href="#">{{pagination.page}}</a>
				</li>
				{% if pagination.has_next %}
				<li>
					<a href="{{url_for('.main', page=pagination.next_num)}}">{{pagination.next_num}}</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</main>
</body>
</html>
